@font-face {
	font-family: 'Roboto';
	src: url('./roboto.woff2');
}

body {
	background-color: #1e90ff;
	font-family: 'Roboto', Arial;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

button {
	font-family: 'Roboto', Arial;
	border: none;
	background-color: #33b249;
	color: white;
	font-weight: bold;
	border-radius: 6px;
	font-size: 16px;
	height: 24px;
	width: 75px;
	margin: 4px;
	margin-bottom: 36px;
}

input {
	border-radius: 6px;
	padding: 4px;
	border: none;
	background-color: white;
}

form {
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 12px;
}

img {
	width: auto;
	height: 50px;
}

.weather {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	border: 2px solid white;
	border-radius: 16px;
	width: 400px;
	height: 300px;
	background-color: white;
}

.location {
	font-size: 16px;
	font-weight: bold;
	margin-top: 16px;
}

.temp {
	font-size: 72px;
}

.conditions {
	font-size: 28px;
	margin-bottom: 12px;
}

label {
	color: white;
	font-size: 36px;
	font-weight: bold;
	margin: 6px;
}
